<form action="/resource", method="POST">
    <h3>Add Library Resource: </h3><br />
    <label>Title</label>
    <input id="title" name="title" type="text" value="" /> <br />
    <label>Author (First)</label>
    <input id="author_first" name="author_first" type="text" value="" /> <br />
    <label>Author (Middle)</label>
    <input id="author_middle" name="author_middle" type="text" value="" /> <br />
    <label>Author (Last)</label>
    <input id="author_last" name="author_last" type="text" value="" /> <br />
    <label>ISBN-10</label>
    <input id="isbn_10" name="isbn_10" type="text" value="" /> <br /> 
    <label>ISBN-13</label>
    <input id="isbn_13" name="isbn_13" type="text" value="" /> <br />
     <button type="submit" value="Submit">Submit</button>
</form>