<head>
    <title>Library Login</title>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/library.js') }}"></script>
</head>
<form>
    <h3>Log in</h3><br />
    <label>email address</label>
    <input id="email" name="email" type="text" value="" /> <br />
    <div id="emptyEmailBanner" class="alert" style="display:none">
        <h4>Please enter an email address</h4>
    </div>
    <label>password</label>
    <input id="password" name="password" type="password" value="" /> <br />
    <div id="emptyPasswordBanner" class="alert" style="display:none">
        <h4>Please enter a password</h4>
    </div>
    <div id="invalidLoginBanner" class="alert" style="display:none">
        <h4>Credentials did not match any user in our system</h4>
    </div>
</form>

<button id="loginBtn" onclick=attemptLogin()>Login</button>

<button type="submit" value="Submit" onclick="window.location.href = '/join';">Register a New User</button>


<script>

    function createCookie(name,value) {
        var date = new Date();
        date.setTime(date.getTime()+(24*60*60*1000));
        var expires = "; expires="+date.toGMTString();
        document.cookie = name+"="+value+expires+"; path=/";
    }
    function attemptLogin() {
        missingEmailBanner = document.getElementById("emptyEmailBanner");
        missingPasswordBanner = document.getElementById("emptyPasswordBanner");
        invalidLoginBanner = document.getElementById("invalidLoginBanner");

        // Reset Email and Password banners
        missingEmailBanner.style.display = "none";
        missingPasswordBanner.style.display = "none";
        invalidLoginBanner.style.display = "none";

        email = document.getElementById("email").value;
        if (email.length < 1) {
            missingEmailBanner.style.display = "block";
        }

        password = document.getElementById("password").value;
        if (password.length < 1) {
            missingPasswordBanner.style.display = "block";
        }

        resp = postLogin(email, password);
        if (resp.status === 200) {
            window.location.replace("/search");
        } else {
            invalidLoginBanner.style.display = "block";
        }

    }
</script>